
{% extends 'private/page.jinja2' %}

{% block breadcrums %}
    <div class="content-header">

    </div>
{% endblock breadcrums %}

{% block main_container %}
<h1>Client Private page</h1>
    <div class="row">
        <div class="col-lg-12">
            Private content goes here
        </div>
    </div>
{% endblock main_container %}