<footer class="main-footer">
    {# To the right #}
    <div class="float-right d-none d-sm-inline">
        {{ _('Using') }} <a href="https://adminlte.io">AdminLTE</a> 3.0.5
    </div>
    {# Default to the left #}
    <strong>{{ _('Copyright') }} &copy; 2020 Your company.</strong> {{ _('All rights reserved.') }}
</footer>