<div class="collapse navbar-collapse order-3" id="navbarCollapse">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a href="#" class="nav-link">{{ _('Public access') }}</a>
        </li>
    </ul>
</div>